---
// Layout Import
import MySiteLayout from '../layouts/MySiteLayout.astro';
// Component Imports
import Team from '../components/about/Team.astro';
import LogoCloud from '../components/about/LogoCloud.astro';
---
<MySiteLayout>
  <main>
		<Team />
		<LogoCloud />
	</main>
</MySiteLayout>