---
// Layout Import
import MySiteLayout from '../layouts/MySiteLayout.astro';
// Component Imports
import Header from '../components/Header.astro';
import ContactInfo from '../components/contact/ContactInfo.astro';
---
<MySiteLayout>
  <main>
		<Header />
		<ContactInfo />
	</main>
</MySiteLayout>