---
// Layout Import
import MySiteLayout from '../layouts/MySiteLayout.astro';
// Component Imports
import ContactInfo from '../components/contact/ContactInfo.astro';
import ContactText from '../components/contact/ContactText.astro';
---
<MySiteLayout>
  <main>
		<header>
			<ContactText />
		</header>
		<ContactInfo />
	</main>
</MySiteLayout>