---
// Layout Import
import MySiteLayout from '../layouts/MySiteLayout.astro';
// Component Imports
import Header from '../components/Header.astro';
import Cta from '../components/Cta.astro';
---
<MySiteLayout>
  <main>
		<Header />
		<Cta />
	</main>
</MySiteLayout>