---
// Layout Import
import MySiteLayout from '../layouts/MySiteLayout.astro';
// Component Imports
import Services from '../components/services/Services.astro';
import Pricing from '../components/services/Pricing.astro';
---
<MySiteLayout>
  <main>
		<Services />
		<Pricing />
	</main>
</MySiteLayout>