  <head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width">
	  <title>La meva web</title>
	  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>

<style global>
	@import "../styles/global.css";
</style>